@using CoreMvcTemplate.Models.MarketPlaceModels;
@using CoreMvcTemplate.Helpers;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model EditMarketPlaceViewModel

<style>
    .dangerField{
        color:red;
    }
</style>

<link type="text/css" href="~/ckeditor5/sample/css/sample.css" rel="stylesheet" media="screen" />

<div class="p-4">
    <div class="d-flex justify-content-between align-items-center width-full">
        <div class="p-2">
            <h3 class="box-title">Pazar Yeri Düzenle</h3>
        </div>
        <div class="p-2">
            <a asp-controller="AdminMarketPlace" asp-action="Delete" asp-route-id="@Model.Id" style="text-decoration: none;" class="btn btn-sm btn-danger">Sil</a>
        </div>
    </div>


    <form asp-action="Detail" asp-controller="AdminMarketPlace" method="post" enctype="multipart/form-data">
        <div class="box-body">

            <input asp-for="Id" value="@Model.Id" hidden />
            <div class="form-group mb-3">
                <label>Pazar Yeri Adı <span class="dangerField"> * </span></label>
                <input type="text" class="form-control" asp-for="Name">
            </div>

            <div class="form-group mb-3">
                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="Title">
            </div>


            <div class="form-group mb-3">
                <label>Yönlendirme Url'i <span class="dangerField"> * </span></label>
                <input type="text" class="form-control" asp-for="RedirectUrl">
            </div>

            <div class="form-group mb-3">
                <label>Görüntülenme Sırası</label>
                <input type="text" class="form-control" asp-for="DisplayOrder">
            </div>


            <div class="form-group mb-3">
                <label>Başlık Görseli <span class="dangerField">(500x500)</span></label>
                <input type="file" id="BackgroundImageFile" name="BackgroundImageFile" class="btn btn-dark">
            </div>
            <div class="form-group mb-3">
                <label for="ImageFile">Mevcut Resim</label>
                <img class="ImageSize" src="@Model.ImageUrl" style="max-height: 400px; width: auto; border: 1px solid red;">
            </div>



        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Düzenle</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('BackgroundImageFile').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var img = new Image();
            img.onload = function () {
                var width = img.width;
                var height = img.height;
                var size = (file.size / 1024).toFixed(2); // size in KB
                var type = file.type;

                alert('Yüklenen Görselin Temel Bilgileri \n Boyut: ' + size + ' KB\n En-Boy: ' + width + 'x' + height + '\n Tip: ' + type );
            };
            img.src = URL.createObjectURL(file);
        }
    });
</script>
